<div class="container-fluid">
  <h2 *ngIf="flagError">Error! Vuelve a probar!</h2>
  <h2 *ngIf="flagBegin">Comienza el juego! Que te diviertas</h2>

  <div class="simonBoard ">
    <button id="0" class="pad" [ngClass]="{'green': !greenSts, 'green-pushed': greenSts}" (click)="illGreen(); addHuman(0)" [disabled]="procesoBool"></button>
    <button id="1" class="pad" [ngClass]="{'red': !redSts, 'red-pushed': redSts}" (click)="illRed();  addHuman(1)"[disabled]="procesoBool"></button>
    <button id="2" class="pad" [ngClass]="{'yellow': !yellowSts, 'yellow-pushed': yellowSts}" (click)="illYellow(); addHuman(2)"[disabled]="procesoBool"></button>
    <button id="3" class="pad" [ngClass]="{'blue': !blueSts, 'blue-pushed': blueSts}" (click)="illBlue();  addHuman(3)" [disabled]="procesoBool"></button>

    <div class="controls justify-content-center">
      <div class="title">SIMON</div>
      <div class="row justify-content-center fila align-items-center">
        <div class="col-3 display">
          {{contador}}
        </div>
        <div class="col-3 text-center" [ngClass]="{'on': boolStatus, 'on-np': !boolStatus}"
              (click)="on();boolStatus = true">
          ON
        </div>
        <div class="col-3 text-center" [ngClass]="{'off': !boolStatus, 'off-np': boolStatus}"
              (click)="off();boolStatus=false">
          OFF
        </div>

      </div>
<div class="container text-center">
  <div [ngClass]="{'strict-led': !strict, 'strict-led-on': strict}">
  </div>
      <button class="strict btn btn-primary-outline" name="button"
          (click)="strict = !strict">
        STRICT
      </button>
</div>



    </div>
  </div>
</div>
